* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-area {
    margin: 15px 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 628px;
    width: 370px;
    text-align: center;
}

article {
    padding: 0 30px;
}

header {
    margin-bottom: 20px;
}

header img {
    margin: 20px 0 5px 260px;
}

h1 {
    margin-bottom: 30px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    border-bottom: .5px dotted;
    padding: 12px 0;
}

p {
    align-items: flex-start;
}

.title {
    font-size: 15px;
}

.value {
    font-size: 13px;
}
.container2 {
    margin-top: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: rgba(213, 203, 203, 0.329)
}

.row2 {
    display: flex;
    justify-content: space-between;
    margin: 10px 30px;
    padding: 5px 0;
}


.row2 p {
    align-items: flex-start;
}

.row2 .title {
    font-size: 15px;
}

.row2 .value {
    font-size: 15px;
}

footer {
    background: green;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
}

footer span {
    padding-left: 15px;
    padding-top: 15px;
}

footer span a {
    text-decoration: none;
    color: #000;
}